#footer{
      height:400px;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10em 0 4em 0;
      background: $cBlue;
      text-align: center;
}

//MEDIA QUERIES
@media (max-width: 576px) {
      #footer{
            height:500px;
      }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 769px) and (max-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 993px) and (max-width: 1200px) {

}
